.clock-container {
  min-height: 40vh;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(
    to right bottom,
    rgb(14, 197, 197),
    rgba(14, 133, 64, 0.822)
  );
  // background: linear-gradient(
  //   to right bottom,
  //   rgba(170, 180, 29, 0.9),
  //   rgba(179, 74, 189, 0.452)
  // );
  border-radius: 1rem;
}

.card-container {
  // background: linear-gradient(
  //   to right bottom,
  //   rgba(255, 255, 255, 0.9),
  //   rgba(255, 255, 255, 0.2)
  // );
  background: #ffffff;
  padding: 1rem;
  margin: 4rem;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 4;
  backdrop-filter: blur(0.3rem);

  h2 {
    font-size: 1rem;
    color: rgb(70, 70, 73);
    // padding-bottom: 1rem;
  }
  p {
    font-size: 2rem;
    font-weight: bolder;
    padding-bottom: 1rem;
    color: rgb(36, 32, 32);
  }
}
